body {
 font-family: monospace;
 background-color: #000;
 color: #fff;
 margin: 0;
 padding: 0;
}

main {
 padding: 10px;
}

#collection {
 margin-top: 20px;
}

#collection h1 {
 font-size: 50px;
 text-align: center;
}

#gameList {
 list-style-type: none;
 padding: 0;
}

#gameList li a {
 display: block;
 padding: 10px;
 color: #009900;
 text-decoration: none;
 font-size: 40px;
 border-radius: 5px;
 text-align: center;
 transition: background-color 0.3s, transform 0.3s;
 width: calc(100% - 20px);
 /* Subtract arrow width from total width */
}

#collection li {
 margin-bottom: 10px;
 position: relative;
}

.arrow {
 position: absolute;
 left: 50px;
 top: 50%;
 transform: translateY(-50%);
 width: 10px;
 /* Adjust the width of the arrow */
 height: auto;
 /* Automatically adjust the height */
 background-image: url('arrow.png');
 background-size: cover;
 display: none;
}

#gameList li {
 margin-bottom: 10px;
 position: relative;
}

#gameList li.selected .arrow {
 display: inline-block;
}

/* CSS for the overlap div */
/* CSS for the overlap div */
/* CSS for the overlap div */


/* CSS for the game item */
.game-item {
 position: relative;
 display: flex;
 align-items: center;
 /* Adjust the left padding for the game name */
}

/* CSS for the arrow */
.arrow {
 width: 10%;
 /* Adjust the size of the arrow */
}

/* CSS for the game link */
.game-item a {
 width: 75%;
 /* Adjust the width of the game name */
 margin-left: 5px;
 /* Add margin to separate arrow from game name */
}

/* CSS for the game list */
#gameList {
 list-style-type: none;
 padding: 0;
 margin: 0 auto;
 /* Center the game list horizontally */
 max-width: 600px;
 /* Adjust the maximum width as needed */
}