body {
 font-family: monospace;
 /* Use Arial Rounded MT Bold as the primary font */
 background-color: #000;
 color: #fff;
 margin: 0;
 padding: 0;
}

main {
 padding: 10px;
}

#collection {
 margin-top: 20px;
}

#collection h2 {
 font-size: 24px;
 text-align: center;
}

/* Update the game tile styles */
#collection ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
 /* Remove the list item decoration */
}

#collection li {
 margin-bottom: 10px;
}

#collection li a {

 display: block;
 padding: 10px;
 /* Old-style green color */
 color: #009900;
 /* Darker green on hover */
 text-decoration: none;
 font-size: 25px;
 font-weight: bold;
 /* Make the title bigger */
 /* Use a vintage font style */
 border-radius: 5px;
 text-align: center;
 transition: background-color 0.3s, transform 0.3s;
}

#collection li a:hover {
 text-decoration: none;
 transform: scale(1.01);
 /* Scale up slightly on hover for an old-school effect */
}

#gameList {
 list-style-type: none;
 padding: 0;
}

#gameList li {
 margin-bottom: 10px;
 cursor: pointer;
 position: relative;
 /* Add position relative for arrow positioning */
}

#gameList li span {
 position: absolute;
 left: -30px;
 /* Adjust the left position to place the arrow */
 display: none;
 /* Hide arrow by default */
}

#gameList li.selected span {
 display: inline-block;
 /* Show arrow for the selected game */
}